/*
*
*       COMMON
*
*/
body{
    background: #171717;
    color: #fff;
    font-size: 18px;
    font-family: 'Cuprum', serif;
}
h2, h1 {
    font-size: 25px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 48px;
}
.wrapper {
    max-width: 1225px;
    margin: 0 auto;
    background-color: #262626;
}
a, .product {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
a:hover, .product:hover {
    color: #c0c0c0;
}
input {
    outline: none;
    color: #fff;
}
.selected {
    color: #fcd041;
}
.icon::before {
    color: #fcd041;
    font-family: 'FontAwesome';
}
.layout {
    padding-left: 20px;
    padding-right: 20px;
}
.hidden {
    display: none;
}
.hide {
    opacity: 0;
}
.inner {
    position: absolute;
    top: 32px;
    left: 0;
    width: 90%;
    border: none;
    background: #171717;
    box-shadow: 0 0 5px black;
}
.dropdown > a::after {
    content: ' \f077';
    font-family: 'FontAwesome';
    font-size: 0.8rem;
    vertical-align: 3px;
    margin-left: 2px;
    display: inline-block;
    transition-duration: 0.3s;
}
/*
*
*       HEADER
*
*/
header .top{
    background-color: #101010;
    display: flex;
    justify-content: space-between;
}
header .top nav {
    line-height: 36px;
    position: relative;
}
header .top nav::before {
    content: '\f0c9';
    display: none;
}
header .top nav ul li {
    display: inline;
    margin-right: 25px;
}
header .cart {
    line-height: 36px;
}
header .cart.icon::before {
  content:'\f07a';
}
header .main {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon.mail::before {
    content: '\f0e0';
}
.icon.phone::before {
    content: '\f095';
}
header .icon.search::before {
    content: '\f002';
}
.contacts p {
    margin-top: 16px;
    margin-bottom: 0;
}
header .contacts p:first-of-type {
    margin-top: 0;
}
header .seek {
    border: 1px solid #fff;
    width: 200px;
    line-height: 26px;
    padding-left: 10px;
}
header .seek input, header .seek button {
    background: transparent;
    border: none;
    outline: none;
}
header .seek button {
    cursor: pointer;
}
.menu nav > ul {
    text-align: center;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}
.menu ul li {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
li:hover ul,
li:hover ul li {
    display: block;
    z-index: 5;
}
li:hover a::after {
    transform: rotate(180deg);
}
/*
*
*
*               SECTION
*
*
*/
.slider__inner {
    margin-top: 20px;
    overflow: hidden;
    height: 500px;
}
.slider__inner img {
    width: 100%;
    height: 500px;
}
.advantages {
    font-size: 20px;
    margin-top: 48px;
}
.advantages__blocks {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    padding-top: 48px;
    padding-bottom: 58px;
    margin-top: 15px;
    line-height: 2.5rem;
}
.advantages__blocks img {
    max-width: 50px;
}
.advantages__blocks p {
    margin: 0 2%;
}
.supplies{
    font-size: 20px;
}
.supplies a {
    margin-right: 20px;
}
.supplies__blocks {
    border-top: 2px solid #fff;
    margin-top: 15px;
    padding-top: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.products>div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product {
    position: relative;
}
.product span {
    position: absolute;
    left: 10%;
    bottom: 4rem;
    line-height: 1.5rem;
    background-color: #101010;
    padding: 0 5px;
}
.product img, .product p {
    width: 80%;
}
.product p {
    margin-top: 20px;
    width: 100%;
}
.about .image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}
p {
    margin-bottom: 15px;
}
p span, li span {
    color: #fcd041;
}
/*
*
*                   FOOTER
*
*/
footer {
    background-color: #101010;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
footer nav {
    line-height: 2rem;
}
footer .contacts {
}
/*
*
*                   MEDIA
*
*/
@media screen and (max-width: 800px) {
    header .top nav div::before {
        content: '\f0c9';
    }
    header .top nav ul li {
        display: block;
        margin-right: 25px;
        width: 100px;
    }
    header .top nav ul {
        display: none;
        position: absolute;
        background-color: rgba(51, 50, 50, 0.829);

    }
    header .main {
        padding: 30px 20px;
        display: block;
        text-align: center;
    }
    header .contacts, header .seek {
        margin: 15px 0;
    }    
    header .seek {
        margin: 0 auto;
    }
    .slider__inner, .about img {
        height: 300px;
    }
    .product span {
        bottom: 5rem;
    }

}
@media screen and (max-width: 560px) {
    .advantages__blocks {
        display: block;
        text-align: left;
    }
    .advantages__blocks div {
        margin-bottom: 15px;
    }
    .about img, .slider__inner {
        height: 200px;
    }
    .products>div {
        flex-wrap: wrap;
    }
    .product {
        width: 45%;
    }
}