/*
*
*       COMMON
*
*/
body{
    background: #171717;
    color: #fff;
    font-size: 16px;
}
.wrapper {
    width: 1225px;
    margin: 0 auto;
    background-color: #262626;
}
a {
    color: #fff;
    text-decoration: none;
}
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}
/*
*
*       HEADER
*
*/
header .top{
    background-color: #101010;
}
header .top nav {
    float: left;
    line-height: 36px;
    margin-left: 10px;
}
header .top nav ul li {
    display: inline;
    margin-right: 25px;
}
header .cart {
    float: right;
    line-height: 36px;
    margin-right: 10px;
}